.container {
  position: absolute;
  top: 0;
  display: flex;
  left: 0;
  height: 100%;
  width: 100vw;
}

.sidebar {
  display: flex;
  background-color: rgb(21, 21, 21);
  border-radius: 3px;
  margin: 0.2rem;
  flex-direction: column;
  /* border: 2px solid white; */
  width: 18rem;
}
.code-editor {
  /* border: 2px solid white; */
  padding: 1rem;
  /* border: 2px solid white; */
  width: 100%;
}

.clients {
  /* border: 2px solid white; */
  height: 70%;
  font-size: 1.3rem;
  overflow-y:auto;
  scrollbar-width: thin;
}
.clients::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.clients::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar */
  border-radius: 4px; /* Rounded scrollbar edges */
}

.clients::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker shade on hover */
}

.clients li {
  list-style: none;
  margin: 1rem;
  text-align: left;
}

.hr-style {
  width: 80%;
}
.sidebar-btn {
  /* border: 2px solid white; */
  padding: 1rem;
}
.sidebar-btn button {
  margin: 0.3rem;
  width: 10rem;
}
.btn-success {
  background-color: rgb(7, 184, 7);
}
.btn-failure {
  background-color: rgb(203, 9, 9);
}
.btn-success:hover {
  background-color: rgba(7, 184, 7, 0.771);
}
.btn-failure:hover {
  background-color: rgba(203, 9, 9, 0.764);
}

.client-details{
  display: flex;
  gap: 1rem;
  align-items: center;
  /* border: 2px solid white; */
  padding: 1rem;
  margin: 0.3rem;
  border-radius: 0.5rem ;
  /* background-color: rgba(79, 78, 78, 0.955); */
}
.client-details h4{
  margin: 0;
}